<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perros y Libros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h2>Perros</h2>
    <div class="dog-container">
      <div *ngFor="let dog of dogs">
        <img [src]="dog" alt="Dog" class="dog-image" />
      </div>
    </div>

    <h2>Libros</h2>
    <div *ngFor="let book of books">
      <p class="book-title">{{ book.title }}</p>
    </div>
    <ion-button (click)="saveAllToFirebase()">Guardar Libros y Perros en Firebase</ion-button>
  </div>
</ion-content>
